# Google Sheets
SPREADSHEET_ID=

# JWT
JWT_SECRET=fib-hq-cambia-esta-clave-por-algo-largo-y-aleatorio

# Google Credentials (contenido del credentials.json en una línea)
GOOGLE_CREDENTIALS=

# Discord Webhooks (logs)
DISCORD_WEBHOOK_EXTRAS=https://discord.com/api/webhooks/1485815362149814374/ShgqNJmIqkNE2jR8gY-Y2UWkl_KU6nxQdo7C6QQ32YnDWGcc54k12giflnPJt3LOody2
DISCORD_WEBHOOK_KEYS=https://discord.com/api/webhooks/1485815319040757954/bl04-smyuasT5WG7suOnJuwgKVb8PcpTOICDFT5Rv0ZWGVnJY17eD8lCXAL3n-a-CUpX
DISCORD_WEBHOOK_LOGINS=https://discord.com/api/webhooks/1485815283670319126/gPQSORZ61ViVPGeOSFnU8toq9Q7GkaWesVMse4ifGMcTqORG7ebzjATTvvZgiLzrOVDE
